target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

src/test/resources/rightsModuleMigratedData/*
README_OLD.md
.openapi-generator/
conf/ds-license-environment.yaml
conf/ds-license-local.yaml
setup_project.sh
/.openapi-generator-ignore

