target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

ds-license-web/src/test/resources/rightsModuleMigratedData/*
README_OLD.md
.openapi-generator/
ds-license-web/conf/ds-license-environment.yaml
ds-license-web/conf/ds-license-local.yaml
setup_project.sh
/ds-license-api/.openapi-generator-ignore

