#
# This config contains environment-data: Servers, usernames, passwords etc.
# If will be automatically merged with the core config when accesses through the application config system.
#
# The environment config is normally controlled by operations and is not part of the code repository.
#
# Backing Solr servers must be "true" Solr servers to avoid endless looping
# The servers are represented as a list as there can be more than one
# This needs to be the same solr servers as used in ds-present, ds-discover etc. 
license_solr_servers:
  - http://localhost:10007/solr/ds
license_solr_filter_field: id
license_solr_resource_filter_field: resource_id

# Values in the openapi part of the configuration are expected to be overwritten with the actual values used for deployment.
# These values are used to populate the OpenAPI specification without redeploying the service. They can be served by using the syntax ${config:yaml.path}.
openapi:
  # This is the URL where this service is deployed appended with /v1
  serverurl: http://localhost:9076/ds-license/v1

# Configuration of the backing DB. In stage and production this is always a PostgreSQL database.
db:
  # URL for the DB
  url: jdbc:postgresql://localhost:5432/database
  driver: org.postgresql.Driver
  # Username and password for the DB
  username: ''
  password: ''

